[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "==0.21.0"
"discord.py" = "~=1.6"
aiohttp = "<3.7.0,>=3.6.0"
jishaku = "*"
discord-py-slash-command = "*"

[dev-packages]
black = "==20.8b1"
isort = "==5.7.0"
flake8 = "*"
mypy = "==0.800"
"discord.py-stubs" = "~=1.6"
pre-commit = "~=2.10"

[requires]
python_version = "3.8"
