[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "~=0.23"
"discord.py" = "~=1.7"
aiohttp = "~=3.7"
jishaku = "*"
discord-py-slash-command = "~=1.1"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"

[dev-packages]
black = "==21.4b2"
isort = "==5.8.0"
flake8 = "*"
mypy = "==0.902"
"discord.py-stubs" = "~=1.7"
pre-commit = "~=2.10"

[requires]
python_version = "3.8"
